# ChemIdConvert - Chemical identifier conversion service
swagger: '2.0'
'x-orn-@context':
  '@vocab': 'http://openrisknet.org/schema#'
  x-orn: 'http://openrisknet.org/schema#'
  x-orn-@id: '@id'
  x-orn-@type: '@type'
  smiles: 'http://semanticscience.org/resource/CHEMINF_000018'
  inchi: 'http://semanticscience.org/resource/CHEMINF_000113'
  inchikey: 'http://semanticscience.org/resource/CHEMINF_000059'
  cas: 'http://semanticscience.org/resource/CHEMINF_000446'
x-orn-@id: 'https://chemidconvert.prod.openrisknet.org/v1'
x-orn-@type: 'x-orn:Service'
info:
  description: "This REST Api allows you to submit chemical identifiers in one format\
    \ and translate it into another format (e.g. SMILES -> InChi)"
  version: "1.0.0"
  title: "ChemIdConvert - Chemical identifier conversion service"
host: "chemidconvert.prod.openrisknet.org"
basePath: "/v1"
schemes:
- "https"
produces:
- "application/json"
paths:
  /asSvg:
    get:
      x-orn-@id: "http://chemidconvert.prod.openrisknet.org/v1/asSvg"
      x-orn-@type: "http://edamontology.org/data_1712" # Chemical structure image
      x-orn:expects:
        x-orn-@id: "http://semanticscience.org/resource/CHEMINF_000018" # Smiles
      x-orn:returns:
        x-orn-@id: "http://schema.org/image" # Image
      summary: Returns an svg text of the given molecule
      operationId: "controllers.default_controller.as_svg_get"
      produces:
        - image/svg+xml
      parameters:
        - $ref: "#/parameters/smiles"
        - name: width
          in: query
          type: integer
          description: SVG image width
          required: false
          default: 450
        - name: height
          in: query
          type: integer
          description: SVG image height
          required: false
          default: 450
      responses:
        200:
          description: Successfully created an svg represenatation
          schema:
            type: string
            description: The text representation of the svg of the molecule
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/simpleError'
  /molWeight:
    get:
      x-orn-@id: "http://chemidconvert.prod.openrisknet.org/v1/molWeight"
      x-orn-@type: "http://purl.obolibrary.org/obo/MI_0660" # Prediction
      x-orn:expects:
        x-orn-@id: "http://semanticscience.org/resource/CHEMINF_000018" # Smiles
      x-orn:returns:
        x-orn-@id: "http://semanticscience.org/resource/CHEMINF_000088" # Molecular mass
      summary: "Returns the molecular weight (calculated with rdkit)"
      operationId: "controllers.default_controller.mol_weight_get"
      parameters:
      - name: "smiles"
        x-orn-@id: "http://semanticscience.org/resource/CHEMINF_000018" # Smiles
        in: "query"
        description: "Compound structure notated using SMILES notation"
        required: true
        type: "string"
        format: "smiles"
      responses:
        200:
          description: "The molecular weight (caluclated with rdkit)"
          schema:
            $ref: "#/definitions/inline_response_200"
        default:
          description: "Unexpected error"
          schema:
            $ref: "#/definitions/simpleError"

  /smiles/to/inchi:
    get:
      x-orn-@id: "http://chemidconvert.prod.openrisknet.org/v1/smiles/to/inchi"
      x-orn-@type: "http://edamontology.org/operation_3434" # Conversion
      x-orn:expects:
        x-orn-@id: "http://semanticscience.org/resource/CHEMINF_000018"
      x-orn:returns:
        x-orn-@id: "http://semanticscience.org/resource/CHEMINF_000113"
      tags:
      - SMILES
      - InChI
      summary: "Converts from a SMILES format into InChI format"
      description: "Converts from a SMILES format into InChI format. Only a single\
        \ match is returned if there is an ambiguity in the conversion. The conversion\
        \ is performed in process via rdkit.\n"
      operationId: "controllers.default_controller.smiles_to_inchi_get"
      parameters:
      - name: "smiles"
        x-orn-@id: "http://semanticscience.org/resource/CHEMINF_000018" # Smiles
        in: "query"
        description: "Compound structure notated using SMILES notation"
        required: true
        type: "string"
        format: "smiles"
      responses:
        200:
          description: "The converted InChI string"
          schema:
            $ref: "#/definitions/inline_response_200_1"
        400:
          description: "Invalid request (typically a mandatory parameter was missing\
            \ or malformed)"
          schema:
            $ref: "#/definitions/simpleError"
        default:
          description: "Unexpected error"
          schema:
            $ref: "#/definitions/simpleError"

  /inchi/to/smiles:
    get:
      x-orn-@id: "http://chemidconvert.prod.openrisknet.org/v1/inchi/to/smiles"
      x-orn-@type: "http://edamontology.org/operation_3434" # Conversion
      x-orn:expects:
        x-orn-@id: "http://semanticscience.org/resource/CHEMINF_000113" # Inchi
      x-orn:returns:
        x-orn-@id: "http://semanticscience.org/resource/CHEMINF_000018" # Smiles
      tags:
      - SMILES
      - InChI
      summary: "Converts from a InChI format into (canonical) SMILES format"
      description: "Converts from InChI format into (canonical) SMILES. Only a single\
        \ match is returned if there is an ambiguity in the conversion. The conversion\
        \ is performed in process via rdkit.\n"
      operationId: "controllers.default_controller.inchi_to_smiles_get"
      parameters:
      - name: "inchi"
        x-orn-@id: "http://semanticscience.org/resource/CHEMINF_000113"
        in: "query"
        description: "Compound structure notated using InChI notation"
        required: true
        type: "string"
      responses:
        200:
          description: "The converted SMILES string"
          schema:
            $ref: "#/definitions/inline_response_200_2"
        400:
          description: "Invalid request (typically a mandatory parameter was missing\
            \ or malformed)"
          schema:
            $ref: "#/definitions/simpleError"
        default:
          description: "Unexpected error"
          schema:
            $ref: "#/definitions/simpleError"

  /inchi/to/inchikey:
    get:
      x-orn-@id: "http://chemidconvert.prod.openrisknet.org/v1/inchi/to/inchikey"
      x-orn-@type: "http://edamontology.org/operation_3434" # Conversion
      x-orn:expects:
        x-orn-@id: "http://semanticscience.org/resource/CHEMINF_000113" # Inchi
      x-orn:returns:
        x-orn-@id: "http://semanticscience.org/resource/CHEMINF_000059" # InchiKEY
      tags:
      - InChI
      - InChIKey
      summary: "Converts from a InChI format into InChIKey format"
      description: "Converts from InChI format into InChIKey. The conversion is performed\
        \ in process via rdkit.\n"
      operationId: "controllers.default_controller.inchi_to_inchikey_get"
      parameters:
      - name: "inchi"
        x-orn-@id: "http://semanticscience.org/resource/CHEMINF_000113"
        in: "query"
        description: "Compound structure notated using InChI notation"
        required: true
        type: "string"
      responses:
        200:
          description: "The converted InChIKey string"
          schema:
            $ref: "#/definitions/inline_response_200_3"
        400:
          description: "Invalid request (typically a mandatory parameter was missing\
            \ or malformed)"
          schema:
            $ref: "#/definitions/simpleError"
        default:
          description: "Unexpected error"
          schema:
            $ref: "#/definitions/simpleError"

  /inchikey/to/inchi:
    get:
      x-orn-@id: "http://chemidconvert.prod.openrisknet.org/v1/inchikey/to/inchi"
      x-orn-@type: "http://edamontology.org/operation_3434" # Conversion
      x-orn:expects:
      x-orn-@id: "http://semanticscience.org/resource/CHEMINF_000059" # InchiKEY
      x-orn:returns:
      x-orn-@id: "http://semanticscience.org/resource/CHEMINF_000113" # Inchi
      tags:
      - InChI
      - InChIKey
      summary: "Converts from a InChIKey format into InChI format"
      description: "Converts from InChIKey format into InChI. The conversion is performed\
        \ by using an external webservice and has relatively high latency.\n"
      operationId: "controllers.default_controller.inchikey_to_inchi_get"
      parameters:
      - name: "inchikey"
        x-orn-@id: "http://semanticscience.org/resource/CHEMINF_000059"
        in: "query"
        description: "Compound structure notated using InChIKey notation"
        required: true
        type: "string"
      responses:
        200:
          description: "The converted InChI string"
          schema:
            $ref: "#/definitions/inline_response_200_1"
        400:
          description: "Invalid request (typically a mandatory parameter was missing\
            \ or malformed)"
          schema:
            $ref: "#/definitions/simpleError"
        500:
          description: "Error in conversion by external webservice"
          schema:
            $ref: "#/definitions/simpleError"
        504:
          description: "Upstream service timeout"
          schema:
            $ref: "#/definitions/simpleError"
        default:
          description: "Unexpected error"
          schema:
            $ref: "#/definitions/simpleError"

  /smiles/to/inchikey:
    get:
      x-orn-@id: "http://chemidconvert.prod.openrisknet.org/v1/smiles/to/inchikey"
      x-orn-@type: "http://edamontology.org/operation_3434" # Conversion
      x-orn:expects:
        x-orn-@id: "http://semanticscience.org/resource/CHEMINF_000018" # Smiles
      x-orn:returns:
        x-orn-@id: "http://semanticscience.org/resource/CHEMINF_000059" # InchiKEY
      tags:
      - SMILES
      - InChIKey
      summary: "Converts from a SMILES format into InChIKey format"
      description: "Converts from SMILES format into InChIKey. The conversion is performed\
        \ in process via rdkit.\n"
      operationId: "controllers.default_controller.smiles_to_inchikey_get"
      parameters:
      - name: "smiles"
        x-orn-@id: "http://semanticscience.org/resource/CHEMINF_000018"
        in: "query"
        description: "Compound structure notated using SMILES notation"
        required: true
        type: "string"
        format: "smiles"
      responses:
        200:
          description: "The converted InChIKey string"
          schema:
            $ref: "#/definitions/inline_response_200_3"
        400:
          description: "Invalid request (typically a mandatory parameter was missing\
            \ or malformed)"
          schema:
            $ref: "#/definitions/simpleError"
        default:
          description: "Unexpected error"
          schema:
            $ref: "#/definitions/simpleError"

  /inchikey/to/smiles:
    get:
      x-orn-@id: "http://chemidconvert.prod.openrisknet.org/v1/inchikey/to/smiles"
      x-orn-@type: "http://edamontology.org/operation_3434" # Conversion
      x-orn:expects:
        x-orn-@id: "http://semanticscience.org/resource/CHEMINF_000059" # InchiKEY
      x-orn:returns:
        x-orn-@id: "http://semanticscience.org/resource/CHEMINF_000018" # Smiles
      tags:
      - SMILES
      - InChIKey
      summary: "Converts from a InChIKey format into (canonical) SMILES format"
      description: "Converts from InChIKey format into (canonical) SMILES. The conversion\
        \ is performed by using an external webservice and has relatively high latency.\n"
      operationId: "controllers.default_controller.inchikey_to_smiles_get"
      parameters:
      - name: "inchikey"
        x-orn-@id: "http://semanticscience.org/resource/CHEMINF_000059"
        in: "query"
        description: "Compound structure notated using InChIKey notation"
        required: true
        type: "string"
      responses:
        200:
          description: "The converted SMILES string"
          schema:
            $ref: "#/definitions/inline_response_200_2"
        400:
          description: "Invalid request (typically a mandatory parameter was missing\
            \ or malformed)"
          schema:
            $ref: "#/definitions/simpleError"
        500:
          description: "Error in conversion by external webservice"
          schema:
            $ref: "#/definitions/simpleError"
        504:
          description: "Upstream service timeout"
          schema:
            $ref: "#/definitions/simpleError"
        default:
          description: "Unexpected error"
          schema:
            $ref: "#/definitions/simpleError"

  /smiles/to/cas:
    get:
      x-orn-@id: "http://chemidconvert.prod.openrisknet.org/v1/smiles/to/cas"
      x-orn-@type: "http://edamontology.org/operation_3434" # Conversion
      x-orn:expects:
        x-orn-@id: "http://semanticscience.org/resource/CHEMINF_000018" # Smiles
      x-orn:returns:
        x-orn-@id: "http://semanticscience.org/resource/CHEMINF_000446" # Cas
      tags:
      - SMILES
      - CAS
      summary: "Converts from a SMILES format into a CAS number"
      description: "Converts from a SMILES format into a CAS number. Only a single\
        \ match is returned if there is an ambiguity in the conversion. The conversion\
        \ is performed by using an external webservice and has relatively high latency.\n"
      operationId: "controllers.default_controller.smiles_to_cas_get"
      parameters:
      - name: "smiles"
        x-orn-@id: "http://semanticscience.org/resource/CHEMINF_000018"
        in: "query"
        description: "Compound structure notated using SMILES notation"
        required: true
        type: "string"
        format: "smiles"
      responses:
        200:
          description: "The converted CAS number (3 groups of numbers separated by\
            \ dashes)"
          schema:
            $ref: "#/definitions/inline_response_200_4"
        400:
          description: "Invalid request (typically a mandatory parameter was missing\
            \ or malformed)"
          schema:
            $ref: "#/definitions/simpleError"
        500:
          description: "Error in conversion by external webservice"
          schema:
            $ref: "#/definitions/simpleError"
        504:
          description: "Upstream service timeout"
          schema:
            $ref: "#/definitions/simpleError"
        default:
          description: "Unexpected error"
          schema:
            $ref: "#/definitions/simpleError"

  /smiles/to/names:
    get:
      x-orn-@id: "http://chemidconvert.prod.openrisknet.org/v1/smiles/to/names"
      x-orn-@type: "http://edamontology.org/operation_3434" # Conversion
      x-orn:expects:
        x-orn-@id: "http://semanticscience.org/resource/CHEMINF_000018" # Smiles
      x-orn:returns:
        x-orn-@id: "http://edamontology.org/data_0990" # Compound Name
      summary: Converts from a SMILES format to a list of known names
      operationId: "controllers.default_controller.smiles_to_names_get"
      description: >
        Converts from a SMILES format into chemical names. The conversion is
        performed by using an external webservice and has relatively high latency.
      tags:
        - SMILES
        - NAMES
      parameters:
        - $ref: "#/parameters/smiles"
      responses:
        200:
          $ref: "#/responses/names"
        400:
          description: Invalid request (typically a mandatory parameter was missing or malformed)
          schema:
            $ref: '#/definitions/simpleError'
        500:
          description: Error in conversion by external webservice
          schema:
            $ref: '#/definitions/simpleError'
        504:
          description: Upstream service timeout
          schema:
            $ref: '#/definitions/simpleError'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/simpleError'

  /cas/to/names:
    get:
      x-orn-@id: "http://chemidconvert.prod.openrisknet.org/v1/cas/to/names"
      x-orn-@type: "http://edamontology.org/operation_3434" # Conversion
      x-orn:expects:
        x-orn-@id: "http://semanticscience.org/resource/CHEMINF_000446" # Cas
      x-orn:returns:
        x-orn-@id: "http://edamontology.org/data_0990" # Compound Name
      summary: Converts from a CAS number to a list of known names
      operationId: "controllers.default_controller.cas_to_names_get"
      description: >
        Converts from a CAS number into chemical names. The conversion is
        performed by using an external webservice and has relatively high latency.
      tags:
        - CAS
        - NAMES
      parameters:
        - $ref: "#/parameters/cas"
      responses:
        200:
          $ref: "#/responses/names"
        400:
          description: Invalid request (typically a mandatory parameter was missing or malformed)
          schema:
            $ref: '#/definitions/simpleError'
        500:
          description: Error in conversion by external webservice
          schema:
            $ref: '#/definitions/simpleError'
        504:
          description: Upstream service timeout
          schema:
            $ref: '#/definitions/simpleError'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/simpleError'

  /inchi/to/names:
    get:
      x-orn-@id: "http://chemidconvert.prod.openrisknet.org/v1/inchi/to/names"
      x-orn-@type: "http://edamontology.org/operation_3434" # Conversion
      x-orn:expects:
        x-orn-@id: "http://semanticscience.org/resource/CHEMINF_000113" # InchiKEY
      x-orn:returns:
        x-orn-@id: "http://edamontology.org/data_0990" # Compound Name
      summary: Converts from a InChI format to a list of known names
      operationId: "controllers.default_controller.inchi_to_names_get"
      description: >
        Converts from a InChI format into chemical names. The conversion is
        performed by using an external webservice and has relatively high latency.
      tags:
        - INCHI
        - NAMES
      parameters:
        - $ref: "#/parameters/inchi"
      responses:
        200:
          $ref: "#/responses/names"
        400:
          description: Invalid request (typically a mandatory parameter was missing or malformed)
          schema:
            $ref: '#/definitions/simpleError'
        500:
          description: Error in conversion by external webservice
          schema:
            $ref: '#/definitions/simpleError'
        504:
          description: Upstream service timeout
          schema:
            $ref: '#/definitions/simpleError'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/simpleError'

  /inchikey/to/names:
    get:
      x-orn-@id: "http://chemidconvert.prod.openrisknet.org/v1/inchikey/to/names"
      x-orn-@type: "http://edamontology.org/operation_3434" # Conversion
      x-orn:expects:
        x-orn-@id: "http://semanticscience.org/resource/CHEMINF_000059" # InchiKEY
      x-orn:returns:
        x-orn-@id: "http://edamontology.org/data_0990" # Compound Name
      summary: Converts from an InChIKey format to a list of known names
      operationId: "controllers.default_controller.inchikey_to_names_get"
      description: >
        Converts from a InChIKey format into chemical names. The conversion is
        performed by using an external webservice and has relatively high latency.
      tags:
        - INCHIKEY
        - NAMES
      parameters:
        - $ref: "#/parameters/inchikey"
      responses:
        200:
          $ref: "#/responses/names"
        400:
          description: Invalid request (typically a mandatory parameter was missing or malformed)
          schema:
            $ref: '#/definitions/simpleError'
        500:
          description: Error in conversion by external webservice
          schema:
            $ref: '#/definitions/simpleError'
        504:
          description: Upstream service timeout
          schema:
            $ref: '#/definitions/simpleError'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/simpleError'

  /cas/to/smiles:
    get:
      x-orn-@id: "http://chemidconvert.prod.openrisknet.org/v1/cas/to/smiles"
      x-orn-@type: "http://edamontology.org/operation_3434" # Conversion
      x-orn:expects:
        x-orn-@id: "http://semanticscience.org/resource/CHEMINF_000446" # Cas
      x-orn:returns:
        x-orn-@id: "http://semanticscience.org/resource/CHEMINF_000018" # Smiles
      tags:
      - SMILES
      - CAS
      summary: "Converts from a CAS number into (canonical) SMILES format"
      description: "Converts from a CAS number into (canonical) SMILES. Only a single\
        \ match is returned if there is an ambiguity in the conversion. The conversion\
        \ is performed by using an external webservice and has relatively high latency.\n"
      operationId: "controllers.default_controller.cas_to_smiles_get"
      parameters:
      - name: "cas"
        x-orn-@id: "http://semanticscience.org/resource/CHEMINF_000446"
        in: "query"
        description: "Compound structure notated as a CAS number (3 groups of numbers\
          \ separated by dashes)"
        required: true
        type: "string"
      responses:
        200:
          description: "The converted SMILES string"
          schema:
            $ref: "#/definitions/inline_response_200_2"
        400:
          description: "Invalid request (typically a mandatory parameter was missing\
            \ or malformed)"
          schema:
            $ref: "#/definitions/simpleError"
        500:
          description: "Error in conversion by external webservice"
          schema:
            $ref: "#/definitions/simpleError"
        504:
          description: "Upstream service timeout"
          schema:
            $ref: "#/definitions/simpleError"
        default:
          description: "Unexpected error"
          schema:
            $ref: "#/definitions/simpleError"

  /inchi/to/cas:
    get:
      x-orn-@id: "http://chemidconvert.prod.openrisknet.org/v1/inchi/to/cas"
      x-orn-@type: "http://edamontology.org/operation_3434" # Conversion
      x-orn:expects:
        x-orn-@id: "http://semanticscience.org/resource/CHEMINF_000113" # InchiKEY
      x-orn:returns:
        x-orn-@id: "http://semanticscience.org/resource/CHEMINF_000446" # Cas
      tags:
      - CAS
      - InChI
      summary: "Converts from a InChI format into a CAS number"
      description: "Converts from a InChI format into a CAS number. Only a single\
        \ match is returned if there is an ambiguity in the conversion. The conversion\
        \ is performed by using an external webservice and has relatively high latency.\n"
      operationId: "controllers.default_controller.inchi_to_cas_get"
      parameters:
      - name: "inchi"
        x-orn-@id: "http://semanticscience.org/resource/CHEMINF_000113"
        in: "query"
        description: "Compound structure notated using InChI notation"
        required: true
        type: "string"
      responses:
        200:
          description: "The converted CAS number (3 groups of numbers separated by\
            \ dashes)"
          schema:
            $ref: "#/definitions/inline_response_200_4"
        400:
          description: "Invalid request (typically a mandatory parameter was missing\
            \ or malformed)"
          schema:
            $ref: "#/definitions/simpleError"
        500:
          description: "Error in conversion by external webservice"
          schema:
            $ref: "#/definitions/simpleError"
        504:
          description: "Upstream service timeout"
          schema:
            $ref: "#/definitions/simpleError"
        default:
          description: "Unexpected error"
          schema:
            $ref: "#/definitions/simpleError"

  /cas/to/inchi:
    get:
      x-orn-@id: "http://chemidconvert.prod.openrisknet.org/v1/cas/to/inchi"
      x-orn-@type: "http://edamontology.org/operation_3434" # Conversion
      x-orn:expects:
        x-orn-@id: "http://semanticscience.org/resource/CHEMINF_000446" # Cas
      x-orn:returns:
        x-orn-@id: "http://semanticscience.org/resource/CHEMINF_000113" # Inchi
      tags:
      - CAS
      - InChI
      summary: "Converts from a CAS number into InChI format"
      description: "Converts from a CAS number into InChI. Only a single match is\
        \ returned if there is an ambiguity in the conversion. The conversion is performed\
        \ by using an external webservice and has relatively high latency.\n"
      operationId: "controllers.default_controller.cas_to_inchi_get"
      parameters:
      - name: "cas"
        x-orn-@id: "http://semanticscience.org/resource/CHEMINF_000446"
        in: "query"
        description: "Compound structure notated as a CAS number (3 groups of numbers\
          \ separated by dashes)"
        required: true
        type: "string"
      responses:
        200:
          description: "The converted InChI string"
          schema:
            $ref: "#/definitions/inline_response_200_1"
        400:
          description: "Invalid request (typically a mandatory parameter was missing\
            \ or malformed)"
          schema:
            $ref: "#/definitions/simpleError"
        500:
          description: "Error in conversion by external webservice"
          schema:
            $ref: "#/definitions/simpleError"
        504:
          description: "Upstream service timeout"
          schema:
            $ref: "#/definitions/simpleError"
        default:
          description: "Unexpected error"
          schema:
            $ref: "#/definitions/simpleError"

  /inchikey/to/cas:
    get:
      x-orn-@id: "http://chemidconvert.prod.openrisknet.org/v1/inchikey/to/cas"
      x-orn-@type: "http://edamontology.org/operation_3434" # Conversion
      x-orn:expects:
        x-orn-@id: "http://semanticscience.org/resource/CHEMINF_000059" # InchiKEY
      x-orn:returns:
        x-orn-@id: "http://semanticscience.org/resource/CHEMINF_000446" # Cas
      tags:
      - CAS
      - InChIKey
      summary: "Converts from a InChIKey format into a CAS number"
      description: "Converts from a InChIKey format into a CAS number. Only a single\
        \ match is returned if there is an ambiguity in the conversion. The conversion\
        \ is performed by using an external webservice and has relatively high latency.\n"
      operationId: "controllers.default_controller.inchikey_to_cas_get"
      parameters:
      - name: "inchikey"
        x-orn-@id: "http://semanticscience.org/resource/CHEMINF_000059"
        in: "query"
        description: "Compound structure notated using InChIKey notation"
        required: true
        type: "string"
      responses:
        200:
          description: "The converted CAS number (3 groups of numbers separated by\
            \ dashes)"
          schema:
            $ref: "#/definitions/inline_response_200_4"
        400:
          description: "Invalid request (typically a mandatory parameter was missing\
            \ or malformed)"
          schema:
            $ref: "#/definitions/simpleError"
        500:
          description: "Error in conversion by external webservice"
          schema:
            $ref: "#/definitions/simpleError"
        504:
          description: "Upstream service timeout"
          schema:
            $ref: "#/definitions/simpleError"
        default:
          description: "Unexpected error"
          schema:
            $ref: "#/definitions/simpleError"

  /cas/to/inchikey:
    get:
      x-orn-@id: "http://chemidconvert.prod.openrisknet.org/v1/cas/to/inchikey"
      x-orn-@type: "http://edamontology.org/operation_3434" # Conversion
      x-orn:expects:
        x-orn-@id: "http://semanticscience.org/resource/CHEMINF_000446" # Cas
      x-orn:returns:
        x-orn-@id: "http://semanticscience.org/resource/CHEMINF_000059" # Inchikey
      tags:
      - CAS
      - InChIKey
      summary: "Converts from a CAS number into InChIKey format"
      description: "Converts from a CAS number into InChIKey. Only a single match\
        \ is returned if there is an ambiguity in the conversion. The conversion is\
        \ performed by using an external webservice and has relatively high latency.\n"
      operationId: "controllers.default_controller.cas_to_inchikey_get"
      parameters:
      - name: "cas"
        x-orn-@id: "http://semanticscience.org/resource/CHEMINF_000446"
        in: "query"
        description: "Compound structure notated as a CAS number (3 groups of numbers\
          \ separated by dashes)"
        required: true
        type: "string"
      responses:
        200:
          description: "The converted InChIKey string"
          schema:
            $ref: "#/definitions/inline_response_200_3"
        400:
          description: "Invalid request (typically a mandatory parameter was missing\
            \ or malformed)"
          schema:
            $ref: "#/definitions/simpleError"
        500:
          description: "Error in conversion by external webservice"
          schema:
            $ref: "#/definitions/simpleError"
        504:
          description: "Upstream service timeout"
          schema:
            $ref: "#/definitions/simpleError"
        default:
          description: "Unexpected error"
          schema:
            $ref: "#/definitions/simpleError"

  /name/to/inchikey:
    get:
      x-orn-@id: "http://chemidconvert.prod.openrisknet.org/v1/name/to/inchikey"
      x-orn-@type: "http://edamontology.org/operation_3434" # Conversion
      x-orn:expects:
        x-orn-@id: "http://edamontology.org/data_0990" # InchiKEY
      x-orn:returns:
        x-orn-@id: "http://semanticscience.org/resource/CHEMINF_000059" # Inchikey
      summary: Converts from a compound name into InChIKey format
      operationId: "controllers.default_controller.name_to_inchikey_get"
      description: >
        Converts from a compound name into InChIKey. Only a single match is
        returned if there is an ambiguity in the conversion. The conversion is
        performed by using an external webservice and has relatively high latency.
      tags:
        - NAME
        - InChIKey
      parameters:
        - $ref: "#/parameters/name"
      responses:
        200:
          $ref: "#/responses/inchikey"
        400:
          description: Invalid request (typically a mandatory parameter was missing or malformed)
          schema:
            $ref: '#/definitions/simpleError'
        500:
          description: Error in conversion by external webservice
          schema:
            $ref: '#/definitions/simpleError'
        504:
          description: Upstream service timeout
          schema:
            $ref: '#/definitions/simpleError'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/simpleError'
  /name/to/inchi:
    get:
      x-orn-@id: "http://chemidconvert.prod.openrisknet.org/v1/name/to/inchi"
      x-orn-@type: "http://edamontology.org/operation_3434" # Conversion
      x-orn:expects:
        x-orn-@id: "http://edamontology.org/data_0990" # InchiKEY
      x-orn:returns:
        x-orn-@id: "http://semanticscience.org/resource/CHEMINF_000113" # Inchi
      summary: Converts from a compound name into InChI format
      operationId: "controllers.default_controller.name_to_inchi_get"
      description: >
        Converts from a compound name into InChI. Only a single match is
        returned if there is an ambiguity in the conversion. The conversion is
        performed by using an external webservice and has relatively high latency.
      tags:
        - NAME
        - InChI
      parameters:
        - $ref: "#/parameters/name"
      responses:
        200:
          $ref: "#/responses/inchi"
        400:
          description: Invalid request (typically a mandatory parameter was missing or malformed)
          schema:
            $ref: '#/definitions/simpleError'
        500:
          description: Error in conversion by external webservice
          schema:
            $ref: '#/definitions/simpleError'
        504:
          description: Upstream service timeout
          schema:
            $ref: '#/definitions/simpleError'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/simpleError'
  /name/to/smiles:
    get:
      x-orn-@id: "http://chemidconvert.prod.openrisknet.org/v1/name/to/smiles"
      x-orn-@type: "http://edamontology.org/operation_3434" # Conversion
      x-orn:expects:
        x-orn-@id: "http://edamontology.org/data_0990" # InchiKEY
      x-orn:returns:
        x-orn-@id: "http://semanticscience.org/resource/CHEMINF_000018" # Smiles
      summary: Converts from a compound name into Smiles format
      operationId: "controllers.default_controller.name_to_smiles_get"
      description: >
        Converts from a compound name into Smiles. Only a single match is
        returned if there is an ambiguity in the conversion. The conversion is
        performed by using an external webservice and has relatively high latency.
      tags:
        - NAME
        - SMILES
      parameters:
        - $ref: "#/parameters/name"
      responses:
        200:
          $ref: "#/responses/smiles"
        400:
          description: Invalid request (typically a mandatory parameter was missing or malformed)
          schema:
            $ref: '#/definitions/simpleError'
        500:
          description: Error in conversion by external webservice
          schema:
            $ref: '#/definitions/simpleError'
        504:
          description: Upstream service timeout
          schema:
            $ref: '#/definitions/simpleError'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/simpleError'
  /name/to/cas:
    get:
      x-orn-@id: "http://chemidconvert.prod.openrisknet.org/v1/name/to/cas"
      x-orn-@type: "http://edamontology.org/operation_3434" # Conversion
      x-orn:expects:
        x-orn-@id: "http://edamontology.org/data_0990" # InchiKEY
      x-orn:returns:
        x-orn-@id: "http://semanticscience.org/resource/CHEMINF_000446" # Cas
      summary: Converts from a compound name into CAS number
      operationId: "controllers.default_controller.name_to_cas_get"
      description: >
        Converts from a compound name into CAS number. Only a single match is
        returned if there is an ambiguity in the conversion. The conversion is
        performed by using an external webservice and has relatively high latency.
      tags:
        - NAME
        - CAS
      parameters:
        - $ref: "#/parameters/name"
      responses:
        200:
          $ref: "#/responses/cas"
        400:
          description: Invalid request (typically a mandatory parameter was missing or malformed)
          schema:
            $ref: '#/definitions/simpleError'
        500:
          description: Error in conversion by external webservice
          schema:
            $ref: '#/definitions/simpleError'
        504:
          description: Upstream service timeout
          schema:
            $ref: '#/definitions/simpleError'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/simpleError'

definitions:
  simpleError:
    type: "string"
  inline_response_200:
    properties:
      smiles:
        type: "string"
        description: "Compound structure notated using (canonical) SMILES notation"
      molWeight:
        type: "number"
        description: "The molecular weight (caluclated with rdkit)"
  inline_response_200_1:
    properties:
      inchi:
        type: "string"
        description: "Compound structure notated using InChI notation"
  inline_response_200_2:
    properties:
      smiles:
        type: "string"
        description: "Compound structure notated using (canonical) SMILES notation"
  inline_response_200_3:
    properties:
      inchikey:
        type: "string"
        description: "Compound structure notated using InChIKey"
  inline_response_200_4:
    properties:
      cas:
        type: "string"
        description: "Compound structure notated using a CAS number"
  inline_response_200_5:
    properties:
      names:
        type: array
        items:
          type: string
        description: A list of possble names
parameters:
  smiles:
    name: "smiles"
    x-orn-@id: "http://semanticscience.org/resource/CHEMINF_000018"
    in: "query"
    description: "Compound structure notated using SMILES notation"
    required: true
    type: "string"
    format: "smiles"
  inchi:
    name: "inchi"
    x-orn-@id: "http://semanticscience.org/resource/CHEMINF_000113"
    in: "query"
    description: "Compound structure notated using InChI notation"
    required: true
    type: "string"
  inchikey:
    name: "inchikey"
    x-orn-@id: "http://semanticscience.org/resource/CHEMINF_000059"
    in: "query"
    description: "Compound structure notated using InChIKey notation"
    required: true
    type: "string"
  cas:
    name: "cas"
    x-orn-@id: "http://semanticscience.org/resource/CHEMINF_000446"
    in: "query"
    description: "Compound structure notated as a CAS number (3 groups of numbers\
      \ separated by dashes)"
    required: true
    type: "string"
  name:
    name: name
    x-orn-@id: "http://edamontology.org/data_0990"
    in: query
    type: string
    description: Compound structure notated as a CAS number (3 groups of numbers separated by dashes)
    required: true
responses:
  inchi:
    description: "The converted InChI string"
    schema:
      $ref: "#/definitions/inline_response_200_1"
  smiles:
    description: "The converted SMILES string"
    schema:
      $ref: "#/definitions/inline_response_200_2"
  inchikey:
    description: "The converted InChIKey string"
    schema:
      $ref: "#/definitions/inline_response_200_3"
  cas:
    description: "The converted CAS number (3 groups of numbers separated by dashes)"
    schema:
      $ref: "#/definitions/inline_response_200_4"
  molWeight:
    description: "The molecular weight (caluclated with rdkit)"
    schema:
      $ref: "#/definitions/inline_response_200"
  names:
    description: The converted chemical names (trivial names, synonyms, systematic names, registry numbers, ...)
    schema:
      $ref: "#/definitions/inline_response_200_5"
